html body{
    box-sizing: border-box;
}
#sketchContainer{
    display: flexbox;
    border: .2em solid black;
    flex: auto;
    width: fit-content;
    background-color: black;
}

.button{
    margin: 1em 0em;
}

.sketchRow{
    width: fit-content;
}
.sketchColumn{
    display: flex;
    flex-direction: row;
}
.sketchSquare{
    padding: .7em;
    border: .1em dotted black;
    background-color:white;
    opacity: 1;
}